html {
	cursor: url("https://file.garden/Z_3yi196v1JJTjAw/Math%20Day%20Assets/SmallerDefaultCursor.png"), default;
}

body {
	background-image: url('https://file.garden/Z_3yi196v1JJTjAw/Math%20Day%20Assets/PicnicPatternBackground.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 25% auto;
	font-size: 1rem;
}

::selection {
	background-color: #00ac5f;
	color: white;
}

::-webkit-scrollbar {
	width: auto;
	background-color: #900D09;
	width: 15px;

	/* Border */
	border-style: solid;
	border-width: 2px;
	border-color: #fff696;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb {
	background: #fff696;
	border-radius: 200px;
}

::-webkit-scrollbar-thumb:hover {
	background: #ded785;
}

h1 {
	font-family: "Roboto Mono", monospace;
}

h2 {
	font-family: "Roboto Mono", monospace;
}

h3 {
	font-family: "Roboto Mono", monospace;
}

p {
	font-family: "Roboto Mono", monospace;
}

q {
	font-size: 1.8rem;
	font-family: "Playwrite NZ", cursive;
}

a {
	cursor: url("https://file.garden/Z_3yi196v1JJTjAw/Math%20Day%20Assets/SmallerPointerCursor.png"), pointer;
	color: #00ac5f;
	font-weight: bold;
}

a:visited {
	color: #1d8647
}

a:hover {
	color: #6dd6a7
}

a:active {
	color: #ffffff
}

.content {
	position: relative;
	z-index: 1;
    text-align: center;
    color: white;
    background-color: #900D09;
    min-width: 65%;
    max-width: 85%;
	height: auto;
    margin: auto;
    
    /* Border */
	border-style: solid;
	border-width: 2px;
	border-color: #fff696;
	border-radius: 20px;
}

.Amy-Peeking {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(80px, -135px);
	width: 100px;
	height: auto;
}

.Bob-Peeking {
	z-index: 3;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-80px, -145px);
	width: 100px;
	height: auto;
}

button {
	cursor: url("https://file.garden/Z_3yi196v1JJTjAw/Math%20Day%20Assets/SmallerPointerCursor.png"), pointer;
}

.nav-container {
    width: 85%;
    margin: auto;
    display: flex;
	justify-content: center;
    align-items: center;
    position: relative;
	padding: 0 50px;
	box-sizing: border-box;
}

.scroll-arrow {
	position: absolute;
	background-color: #900D09;
	color: #fff696;
	height: 50px;
	width: 50px;

	/* Border */
	border-style: solid;
	border-width: 2px;
	border-color: #fff696;
	border-radius: 50%;
}

.scroll-arrow:hover {
	background-color: #ff3c3c;
}

.scroll-arrow.left {
	left: -5px;
}

.scroll-arrow.right {
	right: -5px;
}

.tab-buttons {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	gap: 20px;
	padding: 0 12px;
	margin: auto;
	margin-bottom: 2px;
}

.tabLink {
    text-align: center;
    color: white;
    background-color: #900D09;
	width: 100%;
	min-width: 100px;
	max-width: 200px;
	height: auto;
    margin: auto;
	font-size: 1rem;
	padding: 14px 20px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    
	/* Some weird flex stuff */
	flex: 0 1 auto;
	min-width: 10%;
	max-width: 20%;
	height: auto;

    /* Border */
	border-style: solid;
	border-width: 2px;
	border-color: #fff696;
	border-radius: 10px;
}

.tabLink.active {
	background-color: #5e0f0f;
}

.tabLink:hover {
	background-color: #ff3c3c;
}

.wormer-phone-ultimate-container {
	background-color: #500806;
	width: 600px;
	margin: auto;
	overflow: hidden;

	/* Border */
	border-style: solid;
	border-width: 3px;
	border-color: #fff696;
	border-radius:20px;
}

.wormer-phone-container {
	background-color: #900D09;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.wormer-phone-img {
	width: 150px;
}

.wormer-phone-description {
	text-align: left;
	align-self: flex-start;
	padding-top: 5px;
	padding-left: 10px;
}

.ultimate-mascot-container {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.mascot-container {
	background-color: white;
	height: 400px;
	width: 300px;

	/* Border */
	border-style: solid;
	border-width: 5px;
	border-color: #fff696;
	border-radius: 20px;
}

.mascot-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.mascot-description {
	background-color: #900D09;
	height: 400px;
	width: 450px;

	/* Border */
	border-style: solid;
	border-width: 2px;
	border-color: #fff696;
	border-radius: 20px;
}

.webpage-background-images {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 10px;
}

.old-webpage-images {
	width: 500px;
}

.credits {
	background-color: white;
	color: black;
	width: 50%;
	margin: auto;

	/* Border */
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

.back-to-top-button {
	background-color: #900D09;
	margin-bottom: 10px;
	width: 200px;

	/* Border */
	border-style: solid;
	border-width: 2px;
	border-color: #fff696;
	border-radius: 10px;
}

.back-to-top-button:hover {
	background-color: #ff3c3c;
}

.back-to-top-text {
	color: white;
	font-size: 1rem;
	text-decoration: none;
}