body {
	background-image: url('https://file.garden/Z_3yi196v1JJTjAw/Math%20Day%20Assets/Background.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 25% auto;
}

.content {
    text-align: center;
    color: white;
    background-color: #b60f0f;
    min-width: 65%;
    max-width: 65%;
	height: auto;
    margin: auto;
    
    /* Border */
	border-style: solid;
	border-width: 10%;
	border-color: #099f1b;
	border-radius: 2%;
}

.tab-buttons {
	margin-left: 17.5%;
}

.tab {
	font-size: 100%;
    text-align: center;
    color: white;
    background-color: #b60f0f;
    min-width: 10%;
    max-width: 20%;
	height: auto;
    margin: auto;
    
    /* Border */
	border-style: solid;
	border-width: 10%;
	border-color: #0fdf27;
	border-radius: 10%;
}

.wipimg {
	min-width: 30%;
	max-width: 50%;
	height: auto;
}